[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
easydict = "*"
scipy = "*"
matplotlib = "*"
opencv-python = "*"
scikit-image = "*"
wget = "*"
configparser = "*"
torch = "*"
torchvision = "*"
scikit-learn = "*"
tqdm = "*"
tensorboardX = "*"
"ruamel.yaml" = "*"

[requires]
python_version = "2.7"
